# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: MIT

name: ci

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # don't cancel any workflows on the main branch
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1.1.1
        with:
          # renovate: datasource=pypi dependency=prek
          prek-version: "0.3.1"
        env:
          SKIP: markdownlint-cli2,reuse-lint-file

  run-reuse-workflow:
    uses: opalmedapps/.github/.github/workflows/reuse.yaml@main

  markdownlint:
    permissions:
      contents: read
      # required for upload-sarif action
      # https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github#example-workflow-for-sarif-files-generated-outside-of-a-repository
      security-events: write

    uses: opalmedapps/.github/.github/workflows/markdownlint.yaml@main
    with:
      semantic-linebreak: false
      mkdocs-material-linter: true

  build:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          # fetch the full git history to be able to determine creation dates for pages
          # see: https://github.com/timvink/mkdocs-git-revision-date-localized-plugin?tab=readme-ov-file#note-when-using-build-environments
          fetch-depth: 0
      - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        id: setup-uv
        with:
          # renovate: datasource=pypi dependency=uv
          version: "0.9.30"
      - name: Install dependencies
        run: |
          uv sync --locked
      # see: https://squidfunk.github.io/mkdocs-material/publishing-your-site/#with-github-actions
      # weekly cache updates
      - run: echo "cache_id=$(date --utc '+%V')" >> "$GITHUB_ENV"
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          # weekly cache
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      # https://github.com/actions/toolkit/blob/main/docs/commands.md#problem-matchers
      - name: Add problem matcher for HTML proofer invalid url errors
        run: |
          echo "::add-matcher::.github/matcher-htmlproofer.json"
      - name: Build site
        run: uv run mkdocs build --strict

  deploy:
    uses: ./.github/workflows/deploy.yml
    if: success() && github.ref == 'refs/heads/main'
    needs:
      - lint
      - markdownlint
      - build
    permissions:
      contents: write
